@page
@model HomeModel
@{
    ViewData["Title"] = "Inicio";
}
<h1>@ViewData["Title"]</h1>

<div class="container align-items-center Titillium">
    <!-- Primera fila con stats y recordatorios -->
    <div class="row g-6">
        <div class="col-5">
            <div class="background-beige-cell rounded p-3 shadow-sm categoriees align-items-center">
                <h2 class="fechita cambiesillo">Estadísticas de juego</h2>
                @{
                    // Calc valores para ese usuario
                    int? idSession = HttpContext.Session.GetInt32("Id");

                    // Parámetros para query
                    int? idUsuario = idSession;
                    int? idUsuarioElote = idSession;
                    int? idUsuarioExpCount = idSession;
                    int? idUsuarioDias = idSession;

                    // Usar valores para el JSON
                    string jsonParameters = System.Text.Json.JsonSerializer.Serialize(new
                    {
                        idUsuario,
                        idUsuarioElote,
                        idUsuarioExpCount,
                        idUsuarioDias
                    });
                    string fullParameters = Uri.EscapeDataString(jsonParameters);

                    // Interpolated string usando {} con los parametros completos
                    string reportUrl =
                    $"https://lookerstudio.google.com/embed/reporting/387b8cf5-0588-4b1b-8545-a7a3617a7fc1/page/FupHF?params={fullParameters}";

                    <iframe width="300" height="500" src="@reportUrl" frameborder="0" style="border:0" allowfullscreen
                        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                }
            </div>
        </div>

        <!-- Recordatorios -->
        <div class="col-7">
            <div class="background-beige-cell rounded p-3 align-items-end shadow-sm categoriees">
                    <h2 class="fechita cambiesillo">
                    <span b-2fdslk7pm5="" class="material-symbols-outlined nigga">notifications</span>
                    Recordatorios
                </h2>
                @if (Model.recc == null || !Model.recc.Any())
                {
                    // Caso 1: No hay recordatorios en absoluto
                    <h3 class="chiquillo Titillium mover">No hay recordatorios aún</h3>
                    <a class="nav-link text-dark mas" asp-area="" asp-page="/Recordatorios"><span
                            class="chiquillo maschiquillo">Agregar nuevo recordatorio...</span></a>
                }
                else if (!Model.recc.Any(rec => rec.fecha == DateOnly.FromDateTime(DateTime.Today)))
                {
                    // Caso 2: Hay recordatorios, pero ninguno es del día de hoy
                    <h3 class="chiquillo Titillium mover">No hay recordatorios del día de hoy</h3>
                    <a class="nav-link text-dark mas" asp-area="" asp-page="/Recordatorios"><span
                            class="chiquillo maschiquillo">Ver
                            recordatorios futuros...</span></a>
                }
                else
                {
                    // Caso 3: Hay recordatorios del día de hoy
                    @foreach (var rec in Model.recc)
                    {
                        if (rec.fecha == DateOnly.FromDateTime(DateTime.Today))
                        {
                            @if (!Model.Checkfecha[rec.fecha])
                            {
                                <h3 class="chiquillo Titillium mover">Hoy, @rec.fecha.ToString("dd 'de' MMMM 'del' yyyy")</h3>
                                Model.Checkfecha[rec.fecha] = true;
                            }
                            <div class="flexible espacito mover">
                                <div
                                    class="btn btn-primary botonsito @(rec.tipo == 't' ? @Model.colores[(rec.id_tienda ?? 0) % 4] : "botonpersonal")">
                                </div>
                                <div class="rounded p-3 background-beige-cell align-items-end shadow-sm contenedorrecInicio fondo">
                                    <div class="flexible espacio widht100">
                                        <div class="Titillium titulo paddtit">@rec.titulo</div>
                                        <div class="Titillium hora">@rec.hora_inicio.ToString("hh\\:mm") -
                                            @rec.hora_final.ToString("hh\\:mm")</div>
                                    </div>
                                    <div class="Titillium hora">@rec.lugar</div>
                                </div>
                            </div>
                        }
                    }
                    <a class="nav-link text-dark mas" asp-area="" asp-page="/Recordatorios"><span
                            class="chiquillo maschiquillo">Ver
                            más recordatorios...</span></a>
                }
            </div>
        </div>
    </div>

    <!-- Tabla de problemas -->
    <div class="col-12 mt-3 align-items-center background-beige-cell rounded p-3 shadow-sm categoriees">
        @{
            // Calc valores para ese usuario
            //int? idSession = HttpContext.Session.GetInt32("Id");

            // Parámetros para query
            int? idUsuarioAsesor = idSession;

            // Usar valores para el JSON
            string jsonParametersTable = System.Text.Json.JsonSerializer.Serialize(new { idUsuarioAsesor });
            string fullParametersTable = Uri.EscapeDataString(jsonParametersTable);

            // Interpolated string usando {} con los parametros completos
            string urlTable =
            $"https://lookerstudio.google.com/embed/reporting/5f67ec41-e28e-4047-9b0b-a01413227494/page/FupHF?params={fullParametersTable}";

            <iframe width="1200" height="1000" src="@urlTable" frameborder="0" style="border:0" allowfullscreen
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
        }
    </div>
</div>


@* <div class="container d-flex">
    <div class="left-sections">
        <div class="Stats">
            <h2> <img id="Icon" src="~/Img/Icon.png" alt=""> Sucursales General</h2>
            <img class="mx-auto d-block" src="~/Img/Grafico.jpg" alt="">
        </div>
        <br>
        <div class="Recordatorios">
        <h2><img id="IconRecordatorios" src="~/Img/IconRecordatorios.png" alt=""> Recordatorios</h2>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea1">
            <label class="form-check-label ms-2" for="tarea1">Visitar sucursal Zona Cero</label>
        </div>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea2">
            <label class="form-check-label ms-2" for="tarea2">Pasar nivel 5 de minijuego</label>
        </div>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea3">
            <label class="form-check-label ms-2" for="tarea3">Junta con gerente zona norte</label>
        </div>
        </div>
    </div>
    <div class="new-section">
        <div class="Agenda">
            <h2>Agenda</h2>
            <div class="Mes align-items-center text-center">
                <h1><img id="IconCalendar" src="~/Img/IconCalendar.png"> Marzo</h1>
                <img src="~/Img/PreviCalendar.jpg">
        </div>
    </div>
</div> *@
