@page
@model HomeModel
@{
    ViewData["Title"] = "Inicio";
}
<h1>@ViewData["Title"]</h1>

<div class="row align-items-center Titillium">
    <div class="row g-6 align-items-start">
        <div class="col-4 background-beige-cell rounded p-3 align-items-end shadow-sm categoriees">
        </div>
        <div class="col-1"></div>
        <div class="col-7 background-beige-cell rounded p-3 align-items-end shadow-sm categoriees">

            <h2 class="fechita cambiesillo">
                <span b-2fdslk7pm5="" class="material-symbols-outlined nigga">notifications</span>
                Recordatorios
            </h2>
            @if (Model.recc == null || !Model.recc.Any())
            {
                // Caso 1: No hay recordatorios en absoluto
                <h3 class="chiquillo Titillium mover">No hay recordatorios aún</h3>
                <a class="nav-link text-dark mas" asp-area="" asp-page="/Recordatorios"><span
                        class="chiquillo maschiquillo">Agregar nuevo recordatorio...</span></a>
            }
            else if (!Model.recc.Any(rec => rec.fecha == DateOnly.FromDateTime(DateTime.Today)))
            {
                // Caso 2: Hay recordatorios, pero ninguno es del día de hoy
                <h3 class="chiquillo Titillium mover">No hay recordatorios del día de hoy</h3>
                <a class="nav-link text-dark mas" asp-area="" asp-page="/Recordatorios"><span
                        class="chiquillo maschiquillo">Ver recordatorios futuros...</span></a>
            }
            else
            {
                // Caso 3: Hay recordatorios del día de hoy
                @foreach (var rec in Model.recc)
                {
                    if (rec.fecha == DateOnly.FromDateTime(DateTime.Today))
                    {
                        @if (!Model.Checkfecha[rec.fecha])
                        {
                            <h3 class="chiquillo Titillium mover">Hoy, @rec.fecha.ToString("dd 'de' MMMM 'del' yyyy")</h3>
                            Model.Checkfecha[rec.fecha] = true;
                        }
                        <div class="flexible espacito mover">
                            <div
                                class="btn btn-primary botonsito @(rec.tipo == 't' ? @Model.colores[(rec.id_tienda ?? 0) % 4] : "botonpersonal")">
                            </div>
                            <div class="rounded p-3 background-beige-cell align-items-end shadow-sm contenedorrec fondo">
                                <div class="flexible espacio widht100">
                                    <div class="Titillium titulo paddtit">@rec.titulo</div>
                                    <div class="Titillium hora">@rec.hora_inicio.ToString("hh\\:mm") -
                                        @rec.hora_final.ToString("hh\\:mm")</div>
                                </div>
                                <div class="Titillium hora">@rec.lugar</div>
                            </div>
                        </div>
                    }
                }
                <a class="nav-link text-dark mas" asp-area="" asp-page="/Recordatorios"><span
                        class="chiquillo maschiquillo">Ver más recordatorios...</span></a>
            }
        </div>
    </div>
</div>


@* <div class="container d-flex">
    <div class="left-sections">
        <div class="Stats">
            <h2> <img id="Icon" src="~/Img/Icon.png" alt=""> Sucursales General</h2>
            <img class="mx-auto d-block" src="~/Img/Grafico.jpg" alt="">
        </div>
        <br>
        <div class="Recordatorios">
        <h2><img id="IconRecordatorios" src="~/Img/IconRecordatorios.png" alt=""> Recordatorios</h2>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea1">
            <label class="form-check-label ms-2" for="tarea1">Visitar sucursal Zona Cero</label>
        </div>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea2">
            <label class="form-check-label ms-2" for="tarea2">Pasar nivel 5 de minijuego</label>
        </div>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea3">
            <label class="form-check-label ms-2" for="tarea3">Junta con gerente zona norte</label>
        </div>
        </div>
    </div>
    <div class="new-section">
        <div class="Agenda">
            <h2>Agenda</h2>
            <div class="Mes align-items-center text-center">
                <h1><img id="IconCalendar" src="~/Img/IconCalendar.png"> Marzo</h1>
                <img src="~/Img/PreviCalendar.jpg">
        </div>
    </div>
</div> *@
