@page
@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}

<div class="row align-items-center Titillium">
    <!-- Título leaderboard -->
    <div class="col-3">
        <h1>Clasificación</h1>
    </div>

    @* <!-- Dropdown select zona -->
    <!-- Columna container breakpoint mediana 3-->
    <div class="col-3">
        <select class="form-select select-redbg-whitetxt form-select-indicator-color-white" aria-label="Seleccionar zona">
            <!-- Cambiar a q base es zone de usuario,# will needs form to have asp-for  -->
            <option selected>General</option> <!-- para comparar contra todos -->
            <!-- Código para select región-->
            @foreach (var plaza in Model.listaZonas1)
            {
                <option value="@plaza.id_plaza">@plaza.nombre</option>
            }
        </select>
    </div> *@

    <!-- Empty space layout -->
    <div class="col-9"></div>
</div>

<!-- Leaderboards -->
<!-- Mt es margin top con font titillium -->
<div class="container mt-4 Titillium">
    <!-- Row with gap 6 para dejar espacio entre leaderboard-->
    <div class="row g-6 align-items-start" >
        <!-- Izquierdo: Leaderboard General, mitad pantalla background beige rounded con padding 3 y small shadow -->
        <div class="col-6 background-beige-cell rounded p-3 align-items-end shadow-sm">
            <!-- Podiums tres principales -->
            <div class="row text-center">
                <!--2: Columna 1-2 -->
                <!-- Columna width 4, styling de leaderboard-left-column en site.css,aplica padding y hacer en flex para poder align elements y position-relative para poder poner num  -->
                <div class="col-4 leaderboard-left-column text-center d-flex flex-column align-items-center align-self-start">
                    <!-- Imagen redonda de empleado-->
                    @if (Model.listaGen2.Count > 0)
                    {
                        @foreach (var asesorG2 in Model.listaGen2)
                        {
                            <img src="~/Img/@asesorG2.foto" alt="Foto lugar 2" class="rounded-circle" width="150">
                        }
                    }
                    else 
                    {
                            <img src="~/Img/gray.jpeg" alt="Sin foto lugar 2" class="rounded-circle" width="150">
                    }
                    <!-- Dibujo de podium y aplica flex para centrarlo, needs position-relative para quedarse relativo al podium -->
                    <div class="left-podium rounded d-flex flex-column align-items-center position-relative">
                        <!-- Número de lugar, usa circulo como position-absolute  -->
                        <div class="podium-number rounded-circle position-absolute top-0 start-50 translate-middle ">2</div>
                    </div>
                    <!-- Nombre de persona, conectar a backend despúes -->
                    @if (Model.listaGen2.Count > 0)
                    {
                        @foreach (var asesorG2 in Model.listaGen2)
                        {
                            <p class="podium-employee-name">@asesorG2.nombre @asesorG2.apellido_pat @asesorG2.apellido_mat</p>
                            <p class="podium-txt">@asesorG2.total_exp</p>
                        }
                    }
                    else 
                    {
                        <p class="podium-employee-name">Sin jugador</p>
                    }
                    </div>
                
                <!--1: Columna 3-4 -->
                <div class="col-4 leaderboard-center-column text-center d-flex flex-column align-items-center align-self-start">
                    <h2>General</h2>
                    @if (Model.listaGen1.Count > 0)
                    {
                        @foreach (var asesorG1 in Model.listaGen1)
                        {
                            <img src="~/Img/@asesorG1.foto" alt="Foto lugar 1" class="rounded-circle" width="150">
                        }
                    }
                    else 
                    {
                            <img src="~/Img/gray.jpeg" alt="Sin foto lugar 1" class="rounded-circle" width="150">
                    }
                    <!-- Dibujo de podium y aplica flex para centrarlo con relative -->
                    <div class="center-podium rounded d-flex flex-column align-items-center position-relative">
                        <!-- Número de lugar -->
                        <div class="podium-number rounded-circle position-absolute top-0 start-50 translate-middle position-relative">1</div>
                    </div>
                    <!-- Nombre de persona -->
                    @if (Model.listaGen1.Count > 0)
                    {
                        @foreach (var asesorG1 in Model.listaGen1)
                        {
                            <p class="podium-employee-name">@asesorG1.nombre @asesorG1.apellido_pat @asesorG1.apellido_mat</p>
                            <p class="podium-txt">@asesorG1.total_exp</p>
                        }
                    }
                    else 
                    {
                        <p class="podium-employee-name">Sin jugador</p>
                    }
                </div>      
                 <!--3: Columna 4-5 -->
                <div class="col-4 leaderboard-right-column text-center d-flex flex-column align-items-center align-self-start">
                    @if (Model.listaGen3.Count > 0)
                    {
                        @foreach (var asesorG3 in Model.listaGen3)
                        {
                            <img src="~/Img/@asesorG3.foto" alt="Foto lugar 3" class="rounded-circle" width="150">
                        }
                    }
                    else 
                    {
                            <img src="~/Img/gray.jpeg" alt="Sin foto lugar 3" class="rounded-circle" width="150">
                    }
                    <!-- Dibujo de podium y aplica flex para centrarlo con relative -->
                    <div class="right-podium rounded d-flex flex-column align-items-center position-relative">
                    <!-- Número de lugar -->
                    <div class="podium-number rounded-circle position-absolute top-0 start-50 translate-middle position-relative">3</div>
                    </div>
                    <!-- Nombre de persona -->
                    @if (Model.listaGen3.Count > 0)
                    {
                        @foreach (var asesorG3 in Model.listaGen3)
                        {
                            <p class="podium-employee-name">@asesorG3.nombre @asesorG3.apellido_pat @asesorG3.apellido_mat</p>
                            <p class="podium-txt">@asesorG3.total_exp</p>
                        }
                    }
                    else 
                    {
                        <p class="podium-employee-name">Sin jugador</p>
                    }
                </div>
            </div>

            <!-- Lugares restantes de general -->
            <div class="row rounded p-3">
                <div class="col-12">
                    <!-- Tabla con otros gente restante -->
                    <!-- Hace table q cambie de color cuando hover, beige background, small reduce padding -->
                    <table class="table table-hover table-borderless table-beige">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Si lista contiene datos -->
                            @if (Model.listaJuego4.Count > 0)
                            {
                                int numLugar = 4; <!-- para contar posición de usuario -->
                                @foreach (var asesor4 in Model.listaJuego4)
                                {
                                    <tr class="text-start">
                                        <!-- Table header número de lugar -->
                                        <th scope="row">@numLugar</th> 
                                        <!-- Data nombre usuario -->
                                        <td class="text-start">@asesor4.nombre @asesor4.apellido_pat @asesor4.apellido_mat</td> 
                                        <!-- Exp de usuario  -->
                                        <td class="text-start">@asesor4.total_exp</td> 
                                    </tr>
                                    numLugar++; // Actualiza el número para  rank
                                }
                            }
                            // Si lista no tiene datos, deja espacio vacío
                            else
                            {
                                <td> </td>
                            }
                        </tbody>
                    </table>

                </div>    
            </div>
        </div> <!-- Cierra este columna -->

        <!-- Derecha juegos individuales -->
        <!-- Agregando flex para usar gap  -->
        <div class="col-6 d-flex flex-column gap-4">
            <!-- Tablas para otros juegos, sets background beige, hacer round, adds padding y shadow -->
            <div class="background-beige-cell rounded p-3 shadow-sm">
                <div class="col-12">
                    <!-- Juego 1 Supervisor -->
                    <h2>Supervisor Express</h2>
                    <!-- Hace table q cambie de color cuando hover, beige background -->
                    <table class="table table-hover table-borderless table-beige">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Si lista contiene datos -->
                            @if (Model.listaJuego1.Count > 0)
                            {
                                int numLugar = 1; <!-- para contar posición de usuario -->
                                @foreach (var asesor1 in Model.listaJuego1)
                                {
                                    <tr class="text-start">
                                        <!-- Table header número de lugar -->
                                        <th scope="row">@numLugar</th> 
                                        <!-- Data nombre usuario -->
                                        <td class="text-start">@asesor1.nombre @asesor1.apellido_pat @asesor1.apellido_mat</td> 
                                        <!-- Exp de usuario  -->
                                        <td class="text-start">@asesor1.total_exp</td> 
                                    </tr>
                                    numLugar++; // Actualiza el número para  rank
                                }
                            }
                            // Si lista no tiene datos, nadie ha jugado
                            else
                            {
                                <td>Sin jugadores</td>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Juego 2 Enemigos -->
            <div class="background-beige-cell rounded p-3 shadow-sm">
                <div class="col-12">
                    <h2>Enemigos</h2>
                    <!-- Hace table q cambie de color cuando hover, beige background -->
                    <table class="table table-hover table-borderless table-beige">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Si lista contiene datos -->
                            @if (Model.listaJuego2.Count > 0)
                            {
                                int numLugar = 1; <!-- para contar posición de usuario -->
                                @foreach (var asesor2 in Model.listaJuego2)
                                {
                                    <tr class="text-start">
                                        <!-- Table header número de lugar -->
                                        <th scope="row">@numLugar</th> 
                                        <!-- Data nombre usuario -->
                                        <td class="text-start">@asesor2.nombre @asesor2.apellido_pat @asesor2.apellido_mat</td> 
                                        <!-- Exp de usuario  -->
                                        <td class="text-start">@asesor2.total_exp</td> 
                                    </tr>
                                    numLugar++; // Actualiza el número para  rank
                                }
                            }
                            // Si lista no tiene datos, nadie ha jugado
                            else
                            {
                                <td>Sin jugadores</td>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Juego 3 Día a día -->
            <div class="background-beige-cell rounded p-3 shadow-sm">
                <div class="col-12">
                    <h2>Día a día</h2>
                    <!-- Hace table q cambie de color cuando hover, beige background -->
                    <table class="table table-hover table-borderless table-beige">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Si lista contiene datos -->
                            @if (Model.listaJuego3.Count > 0)
                            {
                                int numLugar = 1; <!-- para contar posición de usuario -->
                                @foreach (var asesor3 in Model.listaJuego3)
                                {
                                    <tr class="text-start">
                                        <!-- Table header número de lugar -->
                                        <th scope="row">@numLugar</th> 
                                        <!-- Data nombre usuario -->
                                        <td class="text-start">@asesor3.nombre @asesor3.apellido_pat @asesor3.apellido_mat</td> 
                                        <!-- Exp de usuario  -->
                                        <td class="text-start">@asesor3.total_exp</td> 
                                    </tr>
                                    numLugar++; // Actualiza el número para  rank
                                }
                            }
                            // Si lista no tiene datos, nadie ha jugado
                            else
                            {
                                <td>Sin jugadores</td>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>