@page
@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}

<div class="row align-items-center Titillium">
    <!-- Título leaderboard -->
    <div class="col-3">
        <h1>Leaderboard</h1>
    </div>

    <!-- Dropdown select zona -->
    <!-- Columna container breakpoint mediana 3-->
    <div class="col-3">
        <select class="form-select select-redbg-whitetxt form-select-indicator-color-white" aria-label="Seleccionar zona">
            <!-- Cambiar a q base es zone de usuario,# will needs form to have asp-for  -->
            <option selected>General</option> <!-- para comparar contra todos -->
            <!-- Código para select región-->
            @foreach (var plaza in Model.listaZonas1)
            {
                <option value="@plaza.id_plaza">@plaza.nombre</option>
            }
        </select>
    </div>

    <!-- Empty space layout -->
    <div class="col-6"></div>
</div>

<!-- Leaderboards -->
<!-- Mt es margin top con font titillium -->
<div class="container mt-4 Titillium">
    <!-- Row with gap 6 para dejar espacio entre leaderboard-->
    <div class="row g-6 align-items-start" >
        <!-- Izquierdo: Leaderboard General, mitad pantalla background beige rounded con padding 3 y small shadow -->
        <div class="col-6 background-beige-cell rounded p-3 align-items-end shadow-sm">
            <!-- Podiums tres principales -->
            <div class="row text-center">
                <!--2: Columna 1-2 -->
                <!-- Columna width 4, styling de leaderboard-left-column en site.css,aplica padding y hacer en flex para poder align elements y position-relative para poder poner num  -->
                <div class="col-4 leaderboard-left-column text-center d-flex flex-column align-items-center align-self-start">
                    <!-- Imagen redonda de empleado-->
                    <img src="~/Img/AsesorTiendaEjemplo.png" class="rounded-circle" alt="Foto empleado">
                    <!-- Dibujo de podium y aplica flex para centrarlo, needs position-relative para quedarse relativo al podium -->
                    <div class="left-podium rounded d-flex flex-column align-items-center position-relative">
                        <!-- Número de lugar, usa circulo como position-absolute  -->
                        <div class="podium-number rounded-circle position-absolute top-0 start-50 translate-middle ">2</div>
                    </div>
                    <!-- Nombre de persona, conectar a backend despúes -->
                    <p class="podium-employee-name">Hugo Martínez</p>
                </div>
                
                <!--1:Columna 3-4 -->
                <div class="col-4 leaderboard-center-column text-center d-flex flex-column align-items-center align-self-start">
                    <h2>General</h2>
                    <img src="~/Img/AsesorTiendaEjemplo.png" class="rounded-circle" alt="Foto empleado">
                    <!-- Dibujo de podium y aplica flex para centrarlo con relative -->
                    <div class="center-podium rounded d-flex flex-column align-items-center position-relative">
                        <!-- Número de lugar -->
                        <div class="podium-number rounded-circle position-absolute top-0 start-50 translate-middle position-relative">1</div>
                    </div>
                    <!-- Nombre de persona, conectar a backend despúes -->
                    <p class="podium-employee-name">Luis Vega</p>
                </div>      
                 <!--3: Columna 4-5 -->
                <div class="col-4 leaderboard-right-column text-center d-flex flex-column align-items-center align-self-start">
                    <img src="~/Img/AsesorTiendaEjemplo.png" class="rounded-circle" alt="Foto empleado">
                    <!-- Dibujo de podium y aplica flex para centrarlo con relative -->
                    <div class="right-podium rounded d-flex flex-column align-items-center position-relative">
                    <!-- Número de lugar -->
                    <div class="podium-number rounded-circle position-absolute top-0 start-50 translate-middle position-relative">3</div>
                    </div>
                    <!-- Nombre de persona, conectar a backend despúes -->
                    <p class="podium-employee-name">Roberto Villareal</p>
                </div>
            </div>

            <!-- Lugares restantes de general -->
            <div class="row rounded p-3">
                <div class="col-12">
                    <h2>Resto</h2>
                    <!-- Tabla con otros gente restante -->
                    <!-- Hace table q cambie de color cuando hover, beige background, small reduce padding -->
                    <table class="table table-hover table-borderless table-beige table-sm">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Row-->
                            <tr class="text-start">
                                <!-- th hacer color mas dark -->
                                <th scope="row">4</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">5</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">6</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">7</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">8</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                        </tbody>
                    </table>

                </div>    
            </div>
        </div> <!-- Cierra este columna -->

        <!-- Derecha juegos individuales -->
        <!-- Agregando flex para usar gap  -->
        <div class="col-6 d-flex flex-column gap-4">
            <!-- Supervisor -->
            <div class="background-beige-cell rounded p-3 shadow-sm">
                <div class="col-12">
                    <h2>Supervisor Express</h2>
                    <!-- Hace table q cambie de color cuando hover, beige background, small reduce padding -->
                    <table class="table table-hover table-borderless table-beige table-sm">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Row-->
                            <tr class="text-start">
                                <!-- th hacer color mas dark -->
                                <th scope="row">1</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">2</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">3</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Día a día -->
            <div class="background-beige-cell rounded p-3 shadow-sm">
                <div class="col-12">
                    <h2>Día a día</h2>
                    <!-- Hace table q cambie de color cuando hover, beige background, small reduce padding -->
                    <table class="table table-hover table-borderless table-beige table-sm">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Row-->
                            <tr class="text-start">
                                <!-- th hacer color mas dark -->
                                <th scope="row">1</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">2</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">3</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Enemigos -->
            <div class="background-beige-cell rounded p-3 shadow-sm">
                <div class="col-12">
                    <h2>Enemigos</h2>
                    <!-- Hace table q cambie de color cuando hover, beige background, small reduce padding -->
                    <table class="table table-hover table-borderless table-beige table-sm">
                        <!-- Class que hacer scroll-table -->
                        <tbody class="scroll-table">
                            <!-- Row-->
                            <tr class="text-start">
                                <!-- th hacer color mas dark -->
                                <th scope="row">1</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">2</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">3</th>
                                <td class="text-start">Rodrigo Ahumada</td>
                                <td class="text-start">12345</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>

<!-- Create C# for each loop, each iteration adds adds user y desplega datos 
@foreach (var plaza in Model.listaZonas1)
{
    <p>@Html.DisplayFor(modelItem => plaza.id_plaza)</p>
    <p>@Html.DisplayFor(modelItem => plaza.nombre)</p>
}-->

@foreach (var person in Model.listaJuego1)
{
    <p>@Html.DisplayFor(modelItem => person.nombre) (modelItem => person.exp)</p>
}