@page "{idUsuario?}"
@model PerfilModel
@{
    ViewData["Title"] = "Perfil de Usuario";
}

<div class="row g-3">
  <!-- COLUMNA IZQUIERDA (PERFIL Y PUBLICACIONES) -->
  <!-- Sección de Perfil -->
  <div class="col-md-7">
    <div class="perfil-card border shadow">
      <div class="perfil-seccion-titulo"></div>
      <div class="perfil-body border rounded">
        @if (!string.IsNullOrEmpty(Model.UsuarioPerfil.Foto))
        {
            <img src="~/Img/asesores/@Model.UsuarioPerfil.Foto" class="perfil-img" alt="Foto de perfil">
        }
        else
        {
            <img src="~/Img/gray.jpeg" class="perfil-img" alt="Foto predeterminada">
        }
        <div class="perfil-info Titillium">
          <h2 class="nombre Titillium">@Model.UsuarioPerfil.Nombre @Model.UsuarioPerfil.ApellidoPat @Model.UsuarioPerfil.ApellidoMat</h2>
          <p class="subtitulo Titillium">@Model.ObtenerDescripcion(Model.UsuarioPerfil.TipoUsuario) | @Model.UsuarioPerfil.PlazaNombre</p>
          <p class="subinfo Titillium">@Model.UsuarioPerfil.Ciudad, @Model.UsuarioPerfil.Estado</p>
          <p class="subinfo Titillium">@Model.UsuarioPerfil.Correo</p>
        </div>
      </div>
    </div>

    <!-- Sección de Publicaciones -->
    <div class="publicaciones-card border rounded shadow mt-3">
      <div class="publicaciones-header p-3">
        <h3 class="mb-0 Titillium">Publicaciones</h3>
      </div>
      <div class="publicaciones-body-wrapper p-3">
        @if (Model.UsuarioPublicaciones.Count > 0)
        {
            @foreach (var publicacion in Model.UsuarioPublicaciones)
            {
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalPublicacion@publicacion.IdPublicacion" class="text-decoration-none">
                    <div class="publicacion-item">
                        <div class="publicacion-contenido">
                            <div>
                                <p class="publicacion-titulo text-dark Titillium"><strong>@publicacion.Titulo</strong></p>
                                <p class="publicacion-descripcion Titillium">@publicacion.Contenido</p>
                                <p class="publicacion-fecha Titillium">Publicado el: @publicacion.FechaPublicado.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- Modal para la publicación -->
                <div class="modal fade" id="modalPublicacion@publicacion.IdPublicacion" tabindex="-1" aria-labelledby="modalPublicacionLabel@publicacion.IdPublicacion" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered"> 
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title Titillium" id="modalPublicacionLabel@publicacion.IdPublicacion">@publicacion.Titulo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="Titillium">@publicacion.Contenido</p>
                                <p class="text-muted Titillium">Publicado el: @publicacion.FechaPublicado.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
      else
      {
          <div class="d-flex justify-content-center">
              <p class="text-muted text-center Titillium">No hay publicaciones disponibles.</p>
          </div>
      }
      </div>
    </div>
  </div>

  <!-- COLUMNA DERECHA (ESTADÍSTICAS Y CERTIFICACIONES) -->
  <!-- Sección de Estadisticas -->
  <div class="col-md-5">
    <div class="estadisticas-card border shadow">
      <div class="estadisticas-header p-3">
        <h3 class="mb-0 Titillium">Estadísticas</h3>
      </div>
      <div class="estadisticas-body p-3">
        <div class="row row-perfiles">
          <div class="col-12">
            <div class="estadisticas-item d-flex align-items-center p-3 rounded">
              <img src="~/img/copa.png" alt="Trofeo" class="estadisticas-icon me-3">
              <div class="text-end">
                  @if (Model.UsuarioEstadisticas.RankingNacional == -1)
                  {
                      <p class="mb-0 Titillium"><strong>Este usuario no ha jugado</strong></p>
                  }
                  else
                  {
                      <p class="mb-0 Titillium"><strong>@Model.UsuarioEstadisticas.RankingNacional° lugar</strong></p>
                      <p class="mb-0 Titillium">General</p>
                  }
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-1">
            <div class="estadisticas-item d-flex align-items-center justify-content-between flex-grow-1 p-3 rounded me-2">
                <img src="~/img/llama.png" alt="Racha" class="estadisticas-icon">
                <p class="mb-0 Titillium"><strong>Racha: @Model.UsuarioEstadisticas.RachaDias días</strong></p>
            </div>
            <div class="estadisticas-item d-flex align-items-center justify-content-between flex-grow-1 p-3 rounded ms-2">
                @if (Model.UsuarioPerfil.TipoUsuario == "g") // Si es gerente
                {
                    <img src="~/img/Persona.png" alt="Asesores" class="estadisticas-icon">
                    <p class="mb-0 Titillium"><strong>@Model.UsuarioEstadisticas.TiendasAsesoradas asesores</strong></p>
                }
                else if (Model.UsuarioPerfil.TipoUsuario == "a") // Si es asesor
                {
                    <img src="~/img/TiendaOXXO.png" alt="Tiendas" class="estadisticas-icon-tienda">
                    <p class="mb-0 Titillium"><strong>@Model.UsuarioEstadisticas.TiendasAsesoradas tiendas</strong></p>
                }
            </div>
        </div>
      </div>
    </div>

    <!-- Sección de Certificaciones -->
    <div class="certificaciones-card border rounded shadow mt-3">
      <div class="certificaciones-header p-3">
        <h3 class="mb-0 Titillium">Certificaciones y habilidades</h3>
      </div>
      <div class="certificaciones-body p-3">
        @if (Model.UsuarioCertificados.Count > 0)
        {
            @foreach (var certificado in Model.UsuarioCertificados)
            {
                <a href="#" data-bs-toggle="modal" data-bs-target="#modalCertificado@certificado.IdCertificado" class="text-decoration-none">
                    <div class="certificacion-item d-flex align-items-center p-3 rounded">
                        <img src="~/img/diploma.png" alt="Certificado" class="certificacion-icon me-3">
                        <div>
                            <p class="mb-0 cert-titulo text-dark Titillium"><strong>@certificado.Titulo</strong></p>
                            <p class="mb-0 cert-subtitulo Titillium">@certificado.Descripcion</p>
                            <p class="cert-fecha Titillium">Obtenido el: @certificado.FechaPublicado.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </a>

                <!-- Modal para el certificado -->
                <div class="modal fade" id="modalCertificado@certificado.IdCertificado" tabindex="-1" aria-labelledby="modalCertificadoLabel@certificado.IdCertificado" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title Titillium" id="modalCertificadoLabel@certificado.IdCertificado">@certificado.Titulo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="Titillium">@certificado.Descripcion</p>
                                <p class="text-muted Titillium">Obtenido el: @certificado.FechaPublicado.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
          <div class="d-flex justify-content-center">
            <p class="text-muted text-center Titillium">No hay certificaciones disponibles.</p>
          </div>
        }
      </div>
    </div>
  </div>
</div>
