@page
@model RecordatoriosModel

@{
    ViewData["Title"] = "Recordatorios";
}
<div class="row align-items-center Titillium">
    <div class="col-3">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-8"></div>
    <div class="col-1">
        <button type="button" class="btn btn-primary plus" data-bs-toggle="modal" data-bs-target="#Agregar">
            <span class="material-symbols-outlined">add</span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="Agregar" tabindex="-1" aria-labelledby="AgregarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content background-beige-cell">
                    <div class="modal-header">
                        <h1 class="modal-title titulo" id="AgregarLabel">Agregar recordatorio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control Titillium" placeholder="Agregar título"></input>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control Titillium" placeholder="Descripción" rows="3"></textarea>
                            </div>
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Selecciona una categoría</option>
                                    <option value="1">Personal</option>
                                    <option value="2">Tienda 1</option>
                                    <option value="3">Tienda 2</option>
                                </select>
                                <label for="floatingSelect">Categoría</label>
                            </div>
                            <div class="mb-3 d-flex margenarriba">
                                <div class="form-floating">
                                    <input id="fecha" class="form-control" type="date" />
                                    <label for="fecha">Fecha</label>
                                </div>
                                <div class="form-floating">
                                    <input id="horainicio" class="form-control" type="time" />
                                    <label for="horainicio">Hora de inicio</label>
                                </div>
                                <div class="form-floating">
                                    <input id="horafin" class="form-control" type="time" />
                                    <label for="horafin">Hora de fin</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary botoncerrar"
                            data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary botonagregar">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row align-items-center Titillium">
    <div class="row g-6 align-items-start">
        <div class="col-3 background-beige-cell rounded p-3 align-items-end shadow-sm categoriees">
            <h2 class="titulo Titillium">Categoría</h2>
            <div class="mini_categoria">
                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-primary botonpersonal" for="btn-check-outlined"></label><br>
                <h3 class="mini_titulo Titillium">Personal</h3>
            </div>
            @if (Model.categorias.Count > 0)
            {
                @foreach (var tienda in Model.categorias)
                {
                    <div class="mini_categoria">
                        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                        <label class="btn btn-outline-primary @tienda.color" for="btn-check-outlined"></label><br>
                        <h3 class="mini_titulo Titillium">Sucursal @tienda.nombre_calle</h3>
                    </div>
                }
            }

        </div>
        <div class="col-1"></div>
        <div class="col-8">
            @foreach(var rec in Model.recc){
                @if(!Model.Checkfecha[rec.fecha]){
                    //Extrae solamente la fecha y la compara con la fecha de la base de datos
                    @if(rec.fecha == DateOnly.FromDateTime(DateTime.Today)){
                        <h2 class="fechita Titillium">Hoy, @rec.fecha.ToString("dd 'de' MMMM 'del' yyyy")</h2>
                    }
                    else{
                        <h2 class="fechita Titillium">@rec.fecha.ToString("dd 'de' MMMM 'del' yyyy")</h2>
                    }
                    Model.Checkfecha[rec.fecha]=true;
                }
            <div class="flexible espacito">
                <button type="button" class="btn btn-primary botonsito @(rec.tipo == 't' ? @Model.colores[(rec.id_tienda ?? 0) % 4] : "botonpersonal")" data-bs-toggle="modal"
                    data-bs-target="#Modificar"></button>
                <div class="modal fade" id="Modificar" tabindex="-1" aria-labelledby="ModificarLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content background-beige-cell">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="ModificarLabel Titillium">Modificar recordatorio</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body Titillium">
                                <form>
                                    <div class="mb-3">
                                        @* <label for="titulo" class="form-label">Agregar título</label> *@
                                        <input type="text" class="form-control Titillium"
                                            placeholder="Agregar título"></input>
                                    </div>
                                    <div class="mb-3">
                                        @* <label for="titulo" class="form-label">Agregar título</label> *@
                                        <textarea class="form-control Titillium" placeholder="Descripción"
                                            rows="3"></textarea>
                                    </div>
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected>Selecciona una categoría</option>
                                            <option value="1">Personal</option>
                                            <option value="2">Tienda 1</option>
                                            <option value="3">Tienda 2</option>
                                        </select>
                                        <label for="floatingSelect">Categoría</label>
                                    </div>
                                    <div class="mb-3 d-flex margenarriba">
                                        <div class="form-floating">
                                            <input id="fecha" class="form-control" type="date" />
                                            <label for="fecha">Fecha</label>
                                        </div>
                                        <div class="form-floating">
                                            <input id="horainicio" class="form-control" type="time" />
                                            <label for="horainicio">Hora de inicio</label>
                                        </div>
                                        <div class="form-floating">
                                            <input id="horafin" class="form-control" type="time" />
                                            <label for="horafin">Hora de fin</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary botoncerrar"
                                    data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-danger Titillium"
                                    data-bs-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-primary botonagregar">Modificar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded p-3 background-beige-cell align-items-end shadow-sm contenedorrec">
                    <div class="flexible espacio widht100">
                        <div class="Titillium titulo paddtit">@rec.titulo</div>
                        <div class="Titillium hora">@rec.hora_inicio a @rec.hora_final</div>
                    </div>
                    <div class="Titillium hora">@rec.lugar</div>
                </div>  
            </div>
            }
        </div>
    </div>
</div>